.c-tem{
    height: 480px;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.card .img-fit{
    aspect-ratio: 16/9;
    object-fit: cover;
}
.card{
    height: 100%;
}
.card-body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-text{
    flex-grow: 1;
}
.card-title{
    color: rgb(59, 59, 247);
}